html {
    font-family: 'Merriweather', serif;
    color: #333333;
    background-color: #f1f1f1;
}

.recipe, .recipe-archive {
    margin: 25px;
    max-width: 800px;
    padding-bottom: 25px;
}

.footer {
    margin: 25px;
    max-width: 800px;
    border-top: 2px dashed #AEEABF;
    padding-top: 10px;
}

h1 {
    font-weight: 700;
    font-size: 2em;
    font-style: italic;
    font-family: 'Merriweather', serif;
    margin-bottom: .5em;
}

h2 {
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    margin-top: 1em;
    margin-bottom: .2em;
    padding: 0;
}

p, ul, ol {
    font-weight: 400;
    font-size: 1em;
    font-family: 'Merriweather', serif;
    margin-top: .5em;
    margin-bottom: .3em;
}

ul, ol {
    padding: 0 0 0 25px;
}

li {
    padding-left: 2px;
    margin-bottom: .3em;
}

a {
    color: #333333;
    text-decoration: underline solid #AEEABF 3px;
    padding: 0 4px 0 4px;
}

a:hover {
    color: #333333;
    text-decoration: none;
    box-shadow: inset 0 -.5em 0 0 #AEEABF;
    padding: 0 4px 0 4px;
}

.recipe-image-container {
    min-width: 300px;   /* Take the full width of the parent */
    max-width: 800px;
    height: 300px;
    border-radius: 4px;   /* Move border-radius here */
    overflow: hidden;   /* Hide the parts of the image that don't fit */
    margin-bottom: .5em;

}

.recipe-image {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: cover;
    object-position: 100% 70%;
}
