html {
    font-family: 'Merriweather', serif;
    color: #333333;
    background-color: #DEF7E4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recipe, .recipe-archive {
    margin: 25px;
    max-width: 800px;
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
    min-height: 400px;
}

.header-info {
    margin-bottom: 2em;
    margin-top: 0;
    font-size: 1em;
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 0;
    border-bottom: 2px dashed #AEEABF;

}

.footer-info {
    max-width: 800px;
    border-top: 2px dashed #AEEABF;
    padding-top: 10px;
    margin-top: 50px;
}

h1 {
    font-weight: 700;
    font-size: 2em;
    font-style: italic;
    font-family: 'Merriweather', serif;
    margin-bottom: .5em;
    margin-top: 0;
}

h2 {
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    margin-top: 1em;
    margin-bottom: .2em;
    padding: 0;
}

p, ul, ol {
    font-weight: 400;
    font-size: 1em;
    font-family: 'Merriweather', serif;
    margin-top: .5em;
    margin-bottom: .3em;
}

ul, ol {
    padding: 0 0 0 25px;
}

li {
    padding-left: 2px;
    margin-bottom: .3em;
}

a {
    color: #333333;
    text-decoration: underline solid #AEEABF 2px;
    padding: 0 4px 0 4px;
}

a:hover {
    color: #333333;
    text-decoration: none;
    box-shadow: inset 0 -.5em 0 0 #AEEABF;
    padding: 0 4px 0 4px;
}

.recipe-image-container, .recipe-image-container {
    min-width: 300px;   
    max-width: 800px;
    height: 300px;
    border-radius: 4px;  
    overflow: hidden;
    position: relative;
}

.recipe-image, .archive-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: 100% 70%;
}

@media screen and (max-width: 768px) {

    .recipe, .recipe-archive {
        padding: 20px;
        background-color: #fff;
        min-height: 400px;
        margin: 0;
    }

    html {
        margin: 0;
        padding: 0;
        background-color: #fff;
    }

}